// IMPORTS

@import url(https://fonts.googleapis.com/css?family=Montserrat:400,100);
@import url(https://fonts.googleapis.com/css?family=Lato:300,100);

// FONT VARS

$h-font: 'Montserrat', helvetica, sans-serif;
$p-font: 'Lato', helvetica, sans-serif;

// COLOR VARS

$main-color: #353535;
$accent-color: #FFB347;
$bg-color: white;